<h2 class="section-title">{{ 'register' | translate }}</h2>

<div class="center">
  <form>
      <mat-input-container class="input-container">
          <input matInput type="text"
                  placeholder="{{'name' | translate}}"
                  />
      </mat-input-container>

      <mat-input-container class="input-container">
          <input matInput type="text"
                  placeholder="{{'password' | translate}}"
                  />
      </mat-input-container>

      <button mat-raised-button type="submit">
          {{'register' | translate}}
      </button>

      <div *ngIf="error">{{error | translate}}</div>
  </form>
</div>
<div class="clear"></div>

   