<h2 class="section-title">{{ 'login' | translate }}</h2>

<div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <mat-input-container class="input-container">
            <input matInput type="text"
                   placeholder="{{'name' | translate}}"
                   formControlName="username">
        </mat-input-container>

        <mat-input-container class="input-container">
            <input matInput type="text"
                   placeholder="{{'password' | translate}}"
                   formControlName="password">
        </mat-input-container>

        <button mat-raised-button type="submit" [disabled]="!loginForm.valid">
            {{'login' | translate}}
        </button>

        <div *ngIf="error">{{error | translate}}</div>
    </form>
</div>
<div class="clear"></div>

   